/*用户注册,绑定,交易密码,实名认证页面公共样式:begin*/
#scroller{width:100%;position:absolute;margin-bottom:2rem;z-index:2;background:#f4f4f4;padding:1.2rem 1.5rem;}
#scroller div{width:100%;height:2.3rem;font-size:1rem;line-height:2.3rem;}
.tips{visibility: hidden;width:100%;color:#4d8596;display:inline-block;font-size:0.8rem;padding-top:0.3rem;}
.tips_high{color:#b93e52;}
.last_tip{padding-top:0;}
.input_high{border: 1px solid #b93e52;}
.duanxin{background:#51a9cd;color:#fff;margin-left:0.5rem;padding-left:0;}
.reg_submit{background:#ff7f00;color:#fff;height:3rem!important;padding:0;letter-spacing: 2px;font-size:1.2rem;margin: 0.8rem 0;border-radius: 12px;}
/*用户注册,绑定,交易密码,实名认证页面公共样式:end*/
/*注册页面样式:begin*/
.password{width:76%;}
.password input{border-right:none;border-radius: 5px 0 0 5px!important;}
#reg_checkbox{width:0.7em;height:0.8em;}
#scroller div span{font-size:0.9rem!important;line-height:0.9rem!important;}
.reg_protocol{font-size:0.9rem;color:#51a9cd;}
#reg_box{position:relative;width:100%;height:100%;background-color:rgba(66,66,66,0.5);z-index:2;display:none;}
/*服务协议*/
#dialog-protocol{position:absolute;left:10%;top:10%;width:80%;background-color:#fff;opacity:1;border:none;overflow:scroll;z-index:99;padding:5px;}
#dialog-protocol h1{font-size:14px;text-align: center;font-weight:bold;}
/*注册页面样式:end*/
/*账户中心样式:start*/
#wx_main{width:100%;height:100%;}
#wx_main h2{font-size:1rem;height:2.5rem;background:#51a9cd;color:#fff;line-height:2.5rem;padding-left:10%;}
#wx_main ul{width:100%;}
#wx_main ul li{width:100%;height:2rem;padding:0 5%;line-height:2rem;font-size:0.8rem;color:#9e9e9e;font-weight:bold;}
#wx_main ul li:after{clear: both;}
#wx_main ul li span{position:absolute;right:5%;font-weight:normal;display:inline-block;}
#wx_main ul li span a{display:inline-block;}
#wx_main ul li:nth-of-type(1){border-bottom:1px solid #ccc;margin-bottom:0.5rem;}
#wx_main ul li:nth-of-type(2){border-bottom:1px solid #ccc;margin-bottom:0.5rem;}
#wx_main ul li:nth-of-type(5){border-bottom:1px solid #ccc;margin-bottom:0.5rem;}
#wx_main ul li:nth-of-type(8){border-bottom:1px solid #ccc;margin-bottom:0.5rem;}
#wx_main ul li:nth-of-type(11){border-bottom:1px solid #ccc;margin-bottom:0.5rem;}
#wx_main ul li:nth-of-type(2) span a{font-size:0.9rem;color:#000;}
#wx_main ul li:nth-of-type(3) span a{font-size:0.9rem;color:#000;}
#wx_main ul li:nth-of-type(4) span a{font-size:0.9rem;color:#000;}
#wx_main ul li:nth-of-type(5) span a{font-size:1rem;color:#f00;}
#wx_main a.remoBind{ display:block; text-align:center; width:90%; margin:0 auto; font-size:1rem;background:#90c8df;color:#fff;height:2.2rem;line-height:2.2rem;border-radius:0.4rem; }
/*账户中心样式:end*/
/*注册成功样式:begin*/
.wx_main_box{width: 98%;margin-left: 1%;margin-top: 2rem;height: 2.8rem;}
.wx_main_box a{display:block;float:left; background:url(../images/wx_success.png) no-repeat;background-size:100%;width:2rem;height:2rem;margin:0 10% 0 15%;}
.wx_main_box span{display:inline-block;color:#92B8C5;font-size:1.2rem;font-weight:bold;line-height:2rem;letter-spacing: 0.2rem;}
.wx_main_box_bind{width: 98%;margin-left: 1%;margin-top: 2rem;height: 2.8rem;}
.wx_main_box_bind .img{width: 2rem;height: 2rem;float: left;background: url(../images/wx_success.png) no-repeat;background-size: 2rem;margin-left: 3rem;margin-right: 1.5rem;}
.wx_main_box_bind .font{margin-left: 1.5rem;color: #92B8C5;font-size: 1.2rem;font-weight: bold;line-height: 2rem;letter-spacing: 0.2rem;}
.bind-num{margin-left: 6.5rem;color: #7CC5C4;line-height: 1.5rem;height: 1.5rem;font-size: 0.8rem;}
#reg_su_btn{background: #FF7F00;width: 90%;margin-left: 5%;color: #fff;}
/*注册成功样式:end*/
/*线下充值20150302-hx*/
.chongzhi .explain{font-size:0.9rem; color:#797979; line-height:1.5rem; padding-bottom:15px;}.chongzhi .explain a{text-decoration:underline; color:#6699ff;}
.chongzhi ol{border:1px solid #c9c9c9;border-bottom:0;background:#fff;}
.chongzhi ol li{width:100%;height:2.2rem;padding:0 2% 0 3%;line-height:2.2rem;font-size:0.9rem;color:#333;border-bottom:1px solid #c9c9c9;}
.chongzhi p.yanzheng{display:inline-block; width:30%}
.chongzhi input.noBord{border:none; background:#fff; height:1.5rem;line-height:1.5rem;padding-left:0; width:80%; font-size:0.9rem;}
/*线下充end*/
/*提现申请20150302-hx*/
.tixian h3{font-size:1rem;line-height:2.3rem;color:#4d8596; border-bottom:1px solid #c9c9c9;}
.tixian h3 p{float:right;}
.tixian h3 span{color:#ff0000; font-size:1.3rem;}
.tixian select{-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;height:2.3rem;border-radius: 4px;border: 1px solid #c9c9c9;padding-left:10px;font-size:1rem;vertical-align:middle;}
.tixian #getValidcode{background:#51a9cd;color:#fff;margin-left:0.5rem;padding-left:0;}
/*线下充值end*/
/*绑定银行卡20150312-hx*/
.bindcard p.name{ float:right;}
.bindcard #getValidcode{background:#51a9cd;color:#fff;margin-left:0.5rem;padding-left:0;}
.bindPop{ width:100%; height:100%; position:absolute; left:0; top:0; background:#fff;color:#303030;  z-index:9;}
.bindPop ul{width:100%; height:100%;position:relative;}
.bindPop ul li{ padding:0 6%;font-size:1rem;line-height:2rem;line-height:2rem;border-bottom:1px solid #e3e3e3;position:relative;}
.bindPop ul li:after{font-size:1.2rem;width:15px;height:25px;position:absolute;right:20px; top:0; color:#c8c8c8; content:'>';}
/*绑定银行end卡*/


