<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hyper</title>
<script type="text/javascript" src="resource/angular.min.js"></script>
</head>
<body ng-app>
<div ng-controller="hyperController">
	search:<input ng-model="query" />
	order by:
		<select ng-model="orderPro">
			<option value="age">年龄</option>
			<option value="name">姓名</option>
		</select>
	<ul>
		<li ng-repeat="item in items | filter:query | orderBy:orderPro">{{item.name}}<p>{{item.no}}</p></li>
	</ul>
</div>
<script type="text/javascript">
	var hyperController = function($scope){
		$scope.orderPro = "age";
		$scope.items=[{"name":"zhangsan","no":"15201611037","age":"25"},{"name":"lisi","no":"15133953726","age":"27"},
			{"name":"wangwu","no":"15133953727","age":"26"},{"name":"zhuqi","no":"15133953729","age":"24"}];
	}
</script>
</body>
</html>