<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Injection</title>
<script type="text/javascript" src="resource/angular.min.js"></script>
</head>
<body ng-app>
<div ng-controller="textAreaWithLimitController">
	<div><span>Remaining:{{remaining()}}</span></div>
	<div>
		<textarea ng-model="message">{{message}}</textarea>
	</div>
	<div>
		<button ng-click="send()" ng-disabled="!hasValidLenth()">send</button>
		<button ng-click="clear()">clear</button>
	</div>
</div>
<script type="text/javascript">
	var textAreaWithLimitController = function($scope){
		$scope.message = "";
		var max_len = 140;
		$scope.remaining = function(){
			var result = max_len - $scope.message.length;
			if(result<=0){
				result = 0;
			}
			return result;
		}
		$scope.send = function(){
			if(max_len - $scope.message.length<0){
				return false;
			}
			return true;
		};
		$scope.clear = function(){
			$scope.message = "";
		}
	}
</script>
</body>
</html>