<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Service</title>
<script type="text/javascript" src="resource/angular.min.js"></script>
</head>
<body ng-app="service">
<div ng-controller="textAreaWithLimitController">
	<div><span>Remaining:{{remaining()}}</span></div>
	<div>
		<textarea ng-model="message">{{message}}</textarea>
	</div>
	<div>
		<button ng-click="send()" ng-disabled="!hasValidLenth()">send</button>
		<button ng-click="clear()">clear</button>
	</div>
</div>
<script type="text/javascript">
	var NoticeficationService = fuction(){
		this.max_len = 100;	
		this notificationArchive = new NotificationArchive();
		this notices = [];
	}
	NoticeficationService.prototype.push = function(notice){
		var newLen, notificationToArchive;
		//array的unshift方法是在数组前面添加元素，返回新长度
		newLen = this.notices.unshift(notice);
		if(newLen > this.max_len){
			//pop将从数组尾部移除元素，并返回该元素
			notificationToArchive = this.notices.pop();
			this.notificationArchive.archive(notificationToArchive);
		}
	}
	NoticeficationService.prototype.getCurrrent = function(){
		return this.notices;
	}
</script>
</body>
</html>