<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 注入如果使用注解,那么注释掉 -->
	<!-- HandlerMapping -->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
	<!-- HandlerAdapter -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
	<!-- end -->
	
	<!-- Spring3.1之前的注解 开启注解式处理器支持的配置为：DefaultAnnotationHandlerMapping 和  AnnotationMethodHandlerAdapter  -->
	<!-- Spring3.1开始的注解 建议使用 RequestMappingHandlerMapping 和 RequestMappingHandlerAdapter  -->
	<!--Spring3.1开始的注解 HandlerMapping --> 
	<bean  class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<!--Spring3.1开始的注解 HandlerAdapter --> 
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />
	<!-- end -->
	
	<!-- ViewResolver --> 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/> 
	    <property name="prefix" value="/WEB-INF/view/jsp/"/> 
	    <property name="suffix" value=".jsp"/> 
	</bean>
	
	<!-- 实现处理器 Controller --> 
	<bean name="/hello.htm" class="com.cmcc.slience.jsprit.spring.mvc.HelloWorldController"/>
	<!-- 使用继承AbstractController控制器 -->
	<bean name="/abController.htm" class="com.cmcc.slience.jsprit.spring.mvc.controller.FatherExtendsAbController">
		<!-- 只能使用post方式请求 -->
		<property name="supportedMethods" value="POST"></property>
	</bean>
	
	<bean class="com.cmcc.slience.jsprit.spring.mvc.controller.FormController"/>
	
	<!-- 配置 -->
	<bean class="com.cmcc.slience.jsprit.spring.mvc.controller.AnnotationController"/>
	
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://127.0.0.1:3306/tax</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
	</bean> -->
</beans>