<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- HandlerMapping -->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />
	
	<!-- HandlerAdapter -->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />
	
	<!-- ViewResolver --> 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/> 
	    <property name="prefix" value="/WEB-INF/view/jsp/"/> 
	    <property name="suffix" value=".jsp"/> 
	</bean>
	
	<!-- 处理器 --> 
	<bean name="/hello.htm" class="com.cmcc.slience.jsprit.spring.mvc.HelloWorldController"/>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://127.0.0.1:3306/tax</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
	</bean>
</beans>